<!DOCTYPE html>
<html>
{% include 'layout/head.html.twig' %}
    <body>
        <main id="app">
            {% block content %}
            {% endblock %}
        </main>
            <script src="{{ asset('js/app.js') }}"></script>
                {% block javascripts %}{% endblock %}
    </body>
</html>
